.DS_Store
.idea
*.log
**/.trash/
tmp/

*.py[cod]
*.egg
build
htmlcov

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
.venv/

# Trash or temporary discard folder
.trash/

# Optional: OS-specific ignores
.DS_Store  # macOS
Thumbs.db  # Windows
